body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://images.alphacoders.com/923/923986.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  display: flex;
  justify-content: center;
  color: white;
}

img{
  border-radius: 10px;
}
input{
  text-align: center;
}
a, p{
  color: white;
  display: flex;
  justify-content: center;
}

.container-search{
  display: flex;
  justify-content: center;
}

.container-data{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-return{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(32, 35, 41, .8);
  border-radius: 20px;
  margin-top: 30px;
  color: white;
  justify-content: flex-end;
}
.container-name{
  width: 217px;
  text-align: center;
}

.spinner {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #4CAF50; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  animation-direction: alternate;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* .video-soccer{
  width:100%;
  height:0px;
  position:relative;
  padding-bottom:calc(56.25% + 335px);
} */